<div class="container">
  <!--Зробити перевірку н а наявність замовлень-->
  <!-- <div class="row">
    <h4 class="title">Історія замовлень</h4>
    <h5 class="empty-text">Історія замовлень пуста</h5>
  </div> -->

  <div class="row">

    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button class="btn btn-collapse">Name of Order</button>
      <div class="collapse-content">
        <div class="container">
          <div class="row">

            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="product-wrap">
                <div class="product-image">
                  <a><img src="./../../../../assets/images/Products/photo-1.jpg"></a>
                  <div class="shadow"></div>
                  <div class="actions">
                    <div class="actions-btn">
                      <div class="add-to-cart">
                        <a class="add-to-cart-button" title="Додати у корзину"></a>
                      </div>
                      <div class="remove-from-links">
                        <div class="remove-from-wishlist">
                          <a class="remove-from-wishlist-button" title="Видалити зі списку бажань"></a>
                        </div>
                        <div class="quikview">
                          <a class="quikview-button" routerLink="/product-view" title="Перегляд товару"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-list">
                  <h3>JJBA</h3>
                  <div class="price">99999$</div>
                </div>
              </div>
            </div>

            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="product-wrap">
                <div class="product-image">
                  <a><img src="./../../../../assets/images/Products/photo-1.jpg"></a>
                  <div class="shadow"></div>
                  <div class="actions">
                    <div class="actions-btn">
                      <div class="add-to-cart">
                        <a class="add-to-cart-button" title="Додати у корзину"></a>
                      </div>
                      <div class="remove-from-links">
                        <div class="remove-from-wishlist">
                          <a class="remove-from-wishlist-button" title="Видалити зі списку бажань"></a>
                        </div>
                        <div class="quikview">
                          <a class="quikview-button" routerLink="/product-view" title="Перегляд товару"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-list">
                  <h3>JJBA</h3>
                  <div class="price">300$</div>
                </div>
              </div>
            </div>

            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="product-wrap">
                <div class="product-image">
                  <a><img src="./../../../../assets/images/Products/photo-1.jpg"></a>
                  <div class="shadow"></div>
                  <div class="actions">
                    <div class="actions-btn">
                      <div class="add-to-cart">
                        <a class="add-to-cart-button" title="Додати у корзину"></a>
                      </div>
                      <div class="remove-from-links">
                        <div class="remove-from-wishlist">
                          <a class="remove-from-wishlist-button" title="Видалити зі списку бажань"></a>
                        </div>
                        <div class="quikview">
                          <a class="quikview-button" routerLink="/product-view" title="Перегляд товару"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-list">
                  <h3>JJBA</h3>
                  <div class="price">300$</div>
                </div>
              </div>
            </div>

            <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="product-wrap">
                <div class="product-image">
                  <a><img src="./../../../../assets/images/Products/photo-1.jpg"></a>
                  <div class="shadow"></div>
                  <div class="actions">
                    <div class="actions-btn">
                      <div class="add-to-cart">
                        <a class="add-to-cart-button" title="Додати у корзину"></a>
                      </div>
                      <div class="remove-from-links">
                        <div class="remove-from-wishlist">
                          <a class="remove-from-wishlist-button" title="Видалити зі списку бажань"></a>
                        </div>
                        <div class="quikview">
                          <a class="quikview-button" routerLink="/product-view" title="Перегляд товару"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-list">
                  <h3>JJBA</h3>
                  <div class="price">300$</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button class="btn btn-collapse">Name of Order</button>
      <div class="collapse-content">
        <div class="container">
          <div class="row">

            <div class="col col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="product-wrap">
                <div class="product-image">
                  <a><img src="./../../../../assets/images/Products/photo-1.jpg"></a>
                  <div class="shadow"></div>
                  <div class="actions">
                    <div class="actions-btn">
                      <div class="add-to-cart">
                        <a class="add-to-cart-button" title="Додати у корзину"></a>
                      </div>
                      <div class="remove-from-links">
                        <div class="remove-from-wishlist">
                          <a class="remove-from-wishlist-button" title="Видалити зі списку бажань"></a>
                        </div>
                        <div class="quikview">
                          <a class="quikview-button" routerLink="/product-view" title="Перегляд товару"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-list">
                  <h3>JJBA</h3>
                  <div class="price">300$</div>
                </div>
              </div>
            </div>

            <div class="col col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="product-wrap">
                <div class="product-image">
                  <a><img src="./../../../../assets/images/Products/photo-1.jpg"></a>
                  <div class="shadow"></div>
                  <div class="actions">
                    <div class="actions-btn">
                      <div class="add-to-cart">
                        <a class="add-to-cart-button" title="Додати у корзину"></a>
                      </div>
                      <div class="remove-from-links">
                        <div class="remove-from-wishlist">
                          <a class="remove-from-wishlist-button" title="Видалити зі списку бажань"></a>
                        </div>
                        <div class="quikview">
                          <a class="quikview-button" routerLink="/product-view" title="Перегляд товару"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-list">
                  <h3>JJBA</h3>
                  <div class="price">300$</div>
                </div>
              </div>
            </div>

            <div class="col col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="product-wrap">
                <div class="product-image">
                  <a><img src="./../../../../assets/images/Products/photo-1.jpg"></a>
                  <div class="shadow"></div>
                  <div class="actions">
                    <div class="actions-btn">
                      <div class="add-to-cart">
                        <a class="add-to-cart-button" title="Додати у корзину"></a>
                      </div>
                      <div class="remove-from-links">
                        <div class="remove-from-wishlist">
                          <a class="remove-from-wishlist-button" title="Видалити зі списку бажань"></a>
                        </div>
                        <div class="quikview">
                          <a class="quikview-button" routerLink="/product-view" title="Перегляд товару"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-list">
                  <h3>JJBA</h3>
                  <div class="price">300$</div>
                </div>
              </div>
            </div>

            <div class="col col-lg-3 col-md-4 col-sm-12 col-xs-12">
              <div class="product-wrap">
                <div class="product-image">
                  <a><img src="./../../../../assets/images/Products/photo-1.jpg"></a>
                  <div class="shadow"></div>
                  <div class="actions">
                    <div class="actions-btn">
                      <div class="add-to-cart">
                        <a class="add-to-cart-button" title="Додати у корзину"></a>
                      </div>
                      <div class="remove-from-links">
                        <div class="remove-from-wishlist">
                          <a class="remove-from-wishlist-button" title="Видалити зі списку бажань"></a>
                        </div>
                        <div class="quikview">
                          <a class="quikview-button" routerLink="/product-view" title="Перегляд товару"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-list">
                  <h3>JJBA</h3>
                  <div class="price">300$</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
