<div class="container">

  <div class="row row-sm">
    <a [routerLink]="['/faq']" class="back-link">Допомога</a>
  </div>

  <div class="row">

    <div class="col col-lg-2 col-md-2 col-sm-0 col-xs-0 col-lg">
      <a [routerLink]="['/faq']" class="back-link">Допомога</a>
    </div>

    <div class="col col-lg-3 col-md-3 col-sm-0 add-col"></div>
    <div class="col col-lg-7 col-md-12 col-sm-12 col-xs-12">
      <h3 class="question-title">Як підібрати потрібний розмір?</h3>
      <p class="answer-text">Підібрати потрібний розмір Ви завжди можете на сторінці <a
          class="new-post" [routerLink]="['/table-of-sizes']"> Таблиця розмірів</a>.</p>

      <h5 class="need-help">Все ще потрібна допомога?</h5>
      <button class="btn" [routerLink]="['/support-request']">Зв'яжіться з нами</button>
    </div>

  </div>

</div>
