<div class="row">

  <div class="col col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngFor="let prods of products">
    <div class="product-wrap">
      <div class="product-image">
        <a><img src={{prods.image}}></a>
        <div class="shadow"></div>
        <div class="actions">
          <div class="actions-btn">
            <div class="add-to-cart">
              <a class="add-to-cart-button" (click)="addToCart(prods.id)" title="Додати у корзину"></a>
            </div>
            <div class="add-to-links">
              <div class="add-to-wishlist">
                <a class="add-to-wishlist-button" (click)="addToWishList(prods.id)" title="Додати у список бажань"></a>
              </div>
              <div class="quikview">
                <a class="quikview-button" (click)="viewProduct(prods.id)" routerLink="/product-view" title="Перегляд товару"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-list">
        <h3>{{prods.name}}</h3>
        <div class="price">{{prods.price}} ₴</div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <button class="btn btn-load-more">Завантажити ще</button>
</div>
