<footer>

  <!--BUTTON TO TOP-->
  <div id="toTop"></div>

  <!--TOP OF FOOTER-->
  <div class="container footer-top">

    <div class="row">

      <!--INFO-->
      <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-6 footer-info">
        <h6 class="footer-title">ІНФОРМАЦІЯ</h6>
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a [routerLink]="['about-us']" class="footer-link">Про нас</a>
          </li>
          <li class="footer-menu-item">
            <a [routerLink]="['table-of-sizes']" class="footer-link">Таблиця розмірів</a>
          </li>
          <li class="footer-menu-item">
            <a [routerLink]="['faq']" class="footer-link">Допомога</a>
          </li>
        </ul>
      </div>

      <!--SERVS-->
      <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-6 footer-info">
        <h6 class="footer-title">СЕРВІСНІ СЛУЖБИ</h6>
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a [routerLink]="['contacts']" class="footer-link">Контакти</a>
          </li>
          <li class="footer-menu-item">
            <a [routerLink]="['return']" class="footer-link">Повернення</a>
          </li>
        </ul>
      </div>

      <!--ADDITIONAL-->
      <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-6 footer-info">
        <h6 class="footer-title">ДОДАТКОВО</h6>
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a [routerLink]="['watches-products']" class="footer-link">Недавно переглянуті</a>
          </li>
        </ul>
      </div>

      <!--PRIVATE ROOM-->
      <div class="col col-lg-3 col-md-3 col-sm-6 col-xs-6 footer-info">
        <h6 class="footer-title">ОБЛІКОВИЙ ЗАПИС</h6>
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a [routerLink]="['user-area/personal-room']" class="footer-link">Особистий кабінет</a>
          </li>
          <li class="footer-menu-item">
            <a [routerLink]="['user-area/orders-history']" class="footer-link">Історія замовлень</a>
          </li>
          <li class="footer-menu-item">
            <a [routerLink]="['user-area/wish-list']" class="footer-link">Список бажань</a>
          </li>
        </ul>
      </div>

      <hr>

    </div>

  </div>

  <!--BOTTOM OF FOOTER-->
  <div class="footer-bottom">

    <div class="row">

      <div class="col">

        <div class="container">

          <div class="d-sm-flex justify-content-between">

            <div class="footer-left">
              <a class="footer-brand" [routerLink]="['/']">UNDEAD FAMIŁY</a>
            </div>

            <div class="footer-right">
              <span class="follow">Слідкуйте за нами:</span>
              <a href="#" class="socials">
                <i class="fa fa-facebook-square fa-soc-webs" aria-hidden="true"></i>
              </a>
              <a href="#" class="socials">
                <i class="fa fa-instagram fa-soc-webs" aria-hidden="true"></i>
              </a>
              <a href="#" class="socials">
                <i class="fa fa-twitter-square fa-soc-webs" aria-hidden="true"></i>
              </a>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</footer>
