<div class="row top-row">

  <div class="inner-block">
    <h2 class="help">Чим ми можемо допомогти?</h2>

    <form class="search-form" action="" method="get">
      <input class="search-area" name="question" placeholder="Ваше питання:" type="search">
      <button class="btn-search" type="submit"></button>
    </form>
  </div>

</div>

<div class="container">

  <div class="row">

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 quest-col">
      <h5 class="theme-of-question">Замовлення</h5>

      <a [routerLink]="['0223369/-I-made-an-order-What-is-next-']" class="question-link">
        <h6 class="question">Я зробив(-ла) замовлення. Що далі?</h6>
      </a>
      <a [routerLink]="['0223369/-How-to-find-out-if-the-order-can-already-be-picked-up-']" class="question-link">
        <h6 class="question">Як дізнатися, чи замовлення вже можна забирати?</h6>
      </a>
      <a [routerLink]="['0223369/-How-to-cancel-an-order-']" class="question-link">
        <h6 class="question">Як скасувати замовлення?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 quest-col">
      <h5 class="theme-of-question">Товар</h5>

      <a [routerLink]="['0223369/-How-to-choose-the-right-size-']" class="question-link">
        <h6 class="question">Як підібрати потрібний розмір?</h6>
      </a>
      <a [routerLink]="['0223369/-How-to-find-out-if-the-product-is-available-']" class="question-link">
        <h6 class="question">Як дізнатися, чи товар є в наявності?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 quest-col">
      <h5 class="theme-of-question">Доставка</h5>

      <a [routerLink]="['0223369/-How-to-order-goods-']" class="question-link">
        <h6 class="question">Як замовити товар?</h6>
      </a>
      <a [routerLink]="['0223369/-When-and-where-can-I-pick-up-my-order-']" class="question-link">
        <h6 class="question">Коли і де можна забрати замовлення?</h6>
      </a>
      <a [routerLink]="['0223369/-I-want-to-place-an-order-When-will-it-be-delivered-']" class="question-link">
        <h6 class="question">Хочу зробити замовлення. Коли його зможуть доставити?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 quest-col">
      <h5 class="theme-of-question">Оплата</h5>

      <a [routerLink]="['0223369/-How-can-I-get-a-promo-code-']" class="question-link">
        <h6 class="question">Як можна отримати промокод?</h6>
      </a>
      <a [routerLink]="['0223369/-How-to-use-a-promo-code-']" class="question-link">
        <h6 class="question">Як використовувати промокод?</h6>
      </a>
      <a [routerLink]="['0223369/-How-to-pay-for-an-order-by-cashless-payment-']" class="question-link">
        <h6 class="question">Як оплатити замовлення безготівковим розрахунком?</h6>
      </a>
      <a [routerLink]="['0223369/-How-to-pay-for-an-order-by-card-']" class="question-link">
        <h6 class="question">Як оплатити замовлення карткою?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 quest-col">
      <h5 class="theme-of-question">Особистий кабінет</h5>

      <a [routerLink]="['0223369/-How-do-I-can-change-the-email-address-in-my-account-']" class="question-link">
        <h6 class="question">Як змінити електронну адресу в аккаунті?</h6>
      </a>
      <a [routerLink]="['0223369/-How-do-I-can-delete-my-account-']" class="question-link">
        <h6 class="question">Як видалити аккаунт?</h6>
      </a>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6 quest-col">
      <h5 class="theme-of-question">Гарантія та повернення</h5>

      <a [routerLink]="['0223369/-What-goods-are-not-subject-to-exchange-and-return-']" class="question-link">
        <h6 class="question">Які товари не підлягають обміну і поверненню?</h6>
      </a>
      <a [routerLink]="['0223369/-In-which-cases-is-the-guarantee-not-provided-']" class="question-link">
        <h6 class="question">У яких випадках гарантія не надається?</h6>
      </a>
      <a [routerLink]="['0223369/-How-to-return-the-goods-in-my-city-']" class="question-link">
        <h6 class="question">Як повернути товар у моєму місті?</h6>
      </a>
    </div>

  </div>

</div>
