<div class="container">

  <div class="row">

    <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="row">
        <div class="choose">
          <button class="choose-link" onclick="ChoosePage(event, 'AboutUF')" id="defaultOpenPage">Про нас</button>
          <button class="choose-link" onclick="ChoosePage(event, 'WorkInUF')">Робота у нас</button>

          <div class="row-lg-md">
            <button class="choose-link" onclick="ChoosePage(event, 'Administration')">Адміністрація</button>
            <button class="choose-link" onclick="ChoosePage(event, 'GuarOfProducts')">Легальність</button>
          </div>
        </div>
      </div>

      <div class="row row-sm-xs">
        <div class="choose">
          <button class="choose-link" onclick="ChoosePage(event, 'Administration')">Адміністрація</button>
          <button class="choose-link" onclick="ChoosePage(event, 'GuarOfProducts')">Легальність</button>
        </div>
      </div>

      <div class="row">
        <div id="AboutUF" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">
          <h4 class="title"><span class="title-element">UNDEAD FAMIŁY</span></h4>

          <div class="container">
            <div class="row">
              <div class="col col-lg-10 col-md-10 col-sm-12 col-xs-12">

                <p class="free-text free-text-lg"><span class="other-page-link">#</span>UNDEAD FAMIŁY — запускаємо нові
                  продукти в інтернеті</p>

                <p class="free-text">Ми — новий бренд у світовому ринку. Створюємо одежу нової, особливої тематики,
                  надаємо послуги у всіх галузях суспільства. Наша місія — зробити людей неповторними та особливими,
                  кожного покупця щасливим, а працівника — відомим!</p>
                <p class="free-text">З першого дня наш головний принцип — нічого не боятись. Ми не боїмося критики у
                  свою адресу та не соромимося створювати нові ідеї.</p>

                <p class="free-text free-text-sm">Щоб зрозуміти нас, радимо переглянути список товарів.</p>
              </div>
            </div>
          </div>

        </div>

        <div id="WorkInUF" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">
          <h4 class="title"><span class="title-element">Вакансії</span></h4>

          <div class="container">
            <div class="row">
              <div class="container internal-container">
                <div class="row">
                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6 col-vacantion">
                    <h5 class="pseudo-title title-of-work">Розробка продукту</h5>

                    <ul class="simple-menu">
                      <li class="simple-menu__item"><span class="simple-menu__text">DATA-SCIENCE</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">WEB-РОЗРОБКА</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">МОБІЛЬНА РОЗРОБКА</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">АНАЛІЗ ДАНИХ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">ТЕСТУВАННЯ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">АДМІНІСТРУВАННЯ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">PRODUCT MANAGEMENT</span></li>
                    </ul>
                  </div>

                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6 col-vacantion">
                    <h5 class="pseudo-title title-of-work">Дизайн</h5>

                    <ol type="1" class="simple-menu">
                      <li class="simple-menu__item"><span class="simple-menu__text">ПРОДУКТОВИЙ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">РЕКЛАМНИЙ</span></li>
                    </ol>
                  </div>

                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6 col-vacantion">
                    <h5 class="pseudo-title title-of-work">Пошив</h5>

                    <ol type="1" class="simple-menu">
                      <li class="simple-menu__item"><span class="simple-menu__text">ШВАЧКА</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">ЗАКРІЙНИК</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">КРАВЕЦЬ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">ЗАКРІЙНИК-КРАВЕЦЬ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">КОНСТРУКТОР</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">ТЕХНОЛОГ</span></li>
                    </ol>
                  </div>
                </div>

                <div class="row">
                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6 col-vacantion">
                    <h5 class="pseudo-title title-of-work">Комунікації</h5>

                    <ol type="1" class="simple-menu">
                      <li class="simple-menu__item"><span class="simple-menu__text">PR</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">PRODUCTION</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">СТРАТЕГІЧНИЙ МАРКЕТИНГ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">ОРГАНІЗАЦІЯ ЗАХОДІВ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">DIGITAL-МАРКЕТИНГ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">ДОСЛІДЖЕННЯ РИНКУ</span></li>
                    </ol>
                  </div>

                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6 col-vacantion">
                    <h5 class="pseudo-title title-of-work">Продаж</h5>

                    <ol type="1" class="simple-menu">
                      <li class="simple-menu__item"><span class="simple-menu__text">ПРОДАВЕЦЬ-КОНСУЛЬТАНТ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">АНАЛІТИК ПРАЙС-ЛИСТІВ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">МЕНЕДЖЕР З ПРОДАЖУ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">БУХГАЛТЕР</span></li>
                    </ol>
                  </div>

                  <div class="col col-lg-4 col-md-4 col-sm 6 col-xs-6 col-vacantion">
                    <h5 class="pseudo-title title-of-work">Маркетинг</h5>

                    <ol type="1" class="simple-menu">
                      <li class="simple-menu__item"><span class="simple-menu__text">КОНТЕНТ-МАРКЕТОЛОГ</span></li>
                      <li class="simple-menu__item"><span class="simple-menu__text">EMAIL-МАРКЕТОЛОГ</span></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="Administration" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">
          <h4 class="title"><span class="title-element">Контактна інформація</span></h4>

          <div class="container internal-container">
            <div class="row">
              <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12 col-info">
                <h5 class="pseudo-title">Продавцям</h5>

                <div class="row">
                  <div class="img-under-title-block">
                    <img src="../../../../../assets/images/About Us/shop.svg" alt="Shop picture"
                      class="picture-under-title">
                  </div>
                </div>

                <p class="free-text free-text-sm">Якщо ви бажаєте продавати товари/послуги, створити власний продукт чи
                  стати
                  працівником Undead Family.company – телефонуйте за номером <span class="other-page-link"><br>+380 (98)
                    963 62 24</span><br>Робочий
                  час:<br>Пн — Пт: c 9:00 до 18:00<br>Сб - Нд: вихідний</p>
              </div>

              <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12 col-info">
                <h5 class="pseudo-title">Покупцям</h5>

                <div class="row">
                  <div class="img-under-title-block">
                    <img src="../../../../../assets/images/About Us/shopping-cart.svg" alt="Shop picture"
                      class="picture-under-title">
                  </div>
                </div>

                <p class="free-text free-text-sm">На Undead Family.clothes товари та послуги продає саме наша компанія.
                  Купуючи
                  товар, ви замовляєте його безпосередньо у нас.</p>
                <p class="free-text free-text-sm">Зв'язатися з компанією можна за контактною інформацією, вказаною на
                  сторінці товару
                  на Undead Family.clothes та на сайті компанії.</p>
              </div>
            </div>

            <div class="row">
              <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12 col-info">
                <h5 class="pseudo-title">Пресі</h5>

                <div class="row">
                  <div class="img-under-title-block">
                    <img src="../../../../../assets/images/About Us/video-camera.svg" alt="Shop picture"
                      class="picture-under-title press-img">
                  </div>
                </div>

                <p class="free-text free-text-sm">Якщо ви хочете отримати офіційний коментар, провести інтерв'ю з
                  ТОП-менеджерами та
                  засновниками компанії, запросити наших спікерів на конференцію, запропонувати інформаційне партнерство
                  або співпрацю - відправляйте запит на email: <span class="other-page-link">ufcompany@gmail.com</span>
                  <br>Або дзвоніть за телефоном <span class="other-page-link">+380 (98) 963 62 24</span>
                </p>
              </div>

              <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12 col-info">
                <h5 class="pseudo-title">Держструктурам</h5>

                <div class="row">
                  <div class="img-under-title-block">
                    <img src="../../../../../assets/images/About Us/headphones.svg" alt="Shop picture"
                      class="picture-under-title">
                  </div>
                </div>

                <p class="free-text free-text-sm">Якщо у вас виникли питання щодо певної діяльності нашої компанії – Ви
                  можете
                  звернутися до нас по email: <span class="other-page-link">ufsupport@gmail.com</span></p>
              </div>
            </div>

            <div class="row">
              <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12 col-info">
                <h5 class="pseudo-title">Шукачам</h5>

                <div class="row">
                  <div class="img-under-title-block">
                    <img src="../../../../../assets/images/About Us/user.svg" alt="Shop picture"
                      class="picture-under-title">
                  </div>
                </div>

                <p class="free-text free-text-sm">Перелік актуальних вакансій компанії ви можете знайти за <a
                    class="other-page-link">посиланням</a>.</p>
                <p class="free-text free-text-sm">Якщо Ви не знайшли підходящу вакансію, можете відправити резюме на<br>
                  Email: <span class="other-page-link">ufcompany@gmail.com</span><br> Viber: <span
                    class="other-page-link">
                    +380 (98) 963 62 24</span></p>
              </div>
            </div>
          </div>
        </div>

        <div id="GuarOfProducts" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 about-us-subpage">

          <h4 class="title"><span class="title-element">Захист легальності контенту</span></h4>
          <p class="subtitle">Мета команди Undead Family – створити безпечний простір для продажу і покупки товарів та
            послуг. Наші принципи - легальність, чесність та взаємоповага. Для цього ми:</p>

          <div class="container internal-container">
            <div class="row">
              <div class="proofs-block">
                <div class="container">
                  <div class="row">
                    <div class="col col-lg-3 proof-img-block">
                      <img src="../../../../../assets/images/About Us/bug.svg" alt="" class="proof-image" />
                    </div>
                    <div class="col col-lg-9">
                      <p class="proofs-text">Розглядаємо скарги щодо порушення прав інтелектуальної власності.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="proofs-block">
                <div class="container">
                  <div class="row">
                    <div class="col col-lg-3 proof-img-block">
                      <img src="../../../../../assets/images/About Us/clean-code.svg" alt="" class="proof-image" />
                    </div>
                    <div class="col col-lg-9">
                      <p class="proofs-text">Видаляємо заборонений контент за стоп-словами.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="proofs-block">
                <div class="container">
                  <div class="row">
                    <div class="col col-lg-3 proof-img-block">
                      <img src="../../../../../assets/images/About Us/website.svg" alt="" class="proof-image" />
                    </div>
                    <div class="col col-lg-9">
                      <p class="proofs-text">Розглядаємо скарги щодо порушення Правил розміщення інформації.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="free-text">Наша система прозора: ми спрямовуємо всі отримані матеріали продавцеві, на якого надійшла
            скарга, повідомляємо про вжиті заходи ініціатору скарги. При цьому продавець може оскаржити скаргу та надати
            підтверджуючі документи.</p>

          <h5 class="pseudo-title">Скарги</h5>
          <p class="free-text"><b>Порушення інтелектуальних прав</b> – це використання об'єктів авторського права без
            згоди правовласника або з порушенням умов договору. Найчастіше надходять скарги про незаконне використання
            торговельних марок та зображень.</p>
          <p class="free-text"><b>Заборонений контент</b> – це товари або послуги, які не можна публікувати на
            маркетплейсі згідно <a class="other-page-link">Правилам розміщення інформації</a> на UNDEAD FAMILY.clothes.
          </p>
          <p class="free-text">Якщо у вас є питання або ви хочете оскаржити звернення, напишіть нам на
            ufclothes@gmail.com
            (порушення прав інтелектуальної власності та заборонений контент).</p>

        </div>
      </div>

    </div>

  </div>

  <div class="empty-block"></div>

</div>
