<div class="container">

  <div class="row row-sm">
    <a [routerLink]="['/faq']" class="back-link">Допомога</a>
  </div>

  <div class="row">

    <div class="col col-lg-2 col-md-2 col-sm-0 col-xs-0 col-lg">
      <a [routerLink]="['/faq']" class="back-link">Допомога</a>
    </div>

    <div class="col col-lg-3 col-md-3 col-sm-0 add-col"></div>
    <div class="col col-lg-7 col-md-12 col-sm-12 col-xs-12">
      <h3 class="question-title">Як можна отримати промокод?</h3>

      <h5 class="answer-title">Запрошення від друга.</h5>
      <p class="answer-text">Промокод можна отримати, якщо:</p>
      <ol type="1">
        <li class="number-li">Вас запросили через реферальне посилання;</li>
        <li class="number-li">Ви запросили своїх близьких, скориставшись особистим реферальним посиланням.</li>
      </ol>
      <p class="answer-text"><span class="new-post">УВАГА!</span> Якщо ж Ви вирішили запросити іншого користувача,
        промокод стане Вам доступним тільки після завершення реєстрації ним на сайті.</p>

      <h5 class="answer-title">Конкурс.</h5>
      <p class="answer-text">Ще одним способом отримання промо є конкурси, опис та правила яких Ви зможете дізнатися
        на нашій офіційній сторінці <span class="new-post">Instagram</span>.</p>

      <h5 class="need-help">Все ще потрібна допомога?</h5>
      <button class="btn" [routerLink]="['/support-request']">Зв'яжіться з нами</button>
    </div>

  </div>

</div>
