.row { margin-top: 2% !important; }

.col { display: block; margin: 0 auto; }

.title { font-weight: 200; color: #b4b4b4; text-align: center; margin-bottom: 5%; }

.form-control {
  background-color: #f0f0f1;
  color: #191919;
  border-radius: 0%;
  margin: 3% auto;
  width: 70%;
  display: block;
  letter-spacing: 2px;
}

.form-control:hover { box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); transition: all .6s; }

.form-control:focus,
.form-control:active { box-shadow: none; border: 1px solid #f0f0f1; transition: all .6s; }

.btn-submit {
  display: block;
  margin: 2% auto 3%;
  background-color: tomato;
  color: #f0f0f1;
  border-radius: 0%;
  padding: 1% 5%;
}

.btn-submit:hover { box-shadow: rgba(255, 99, 71, 0.5); transition: all .6s; }

.btn-submit:active,
.btn-submit:focus { border: 1px solid tomato; box-shadow: none; transition: all .6s; }

/*MEDIA*/
/*TABLETS*/
@media screen and (min-width: 769px) and (max-width: 991px) {
  .title { font-size: 18px; margin-bottom: 20px; }

  .form-control { width: 90%; font-size: 16px; }

  .btn-login { font-size: 16px; }
}

/*PHONES*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .title { font-size: 18px; margin-bottom: 20px; }

  .form-control { width: 100%; font-size: 14px; margin: 15px 0; }

  .form-control:hover { box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); transition: all .6s; }

  .btn-login { font-size: 14px; margin-bottom: 10px; }

  .btn-login:hover { box-shadow: 0 0 10px rgba(255, 99, 71, 0.5); transition: all .6s; }
}
