<div class="container">

  <div class="row row-sm">
    <a [routerLink]="['/faq']" class="back-link">Допомога</a>
  </div>

  <div class="row">

    <div class="col col-lg-2 col-md-2 col-sm-0 col-xs-0 col-lg">
      <a [routerLink]="['/faq']" class="back-link">Допомога</a>
    </div>

    <div class="col col-lg-3 col-md-3 col-sm-0 add-col"></div>
    <div class="col col-lg-7 col-md-12 col-sm-12 col-xs-12">
      <h3 class="question-title">Як змінити електронну адресу в аккаунті?</h3>

      <ol type="1">
        <li class="number-li">
          <p class="answer-text">Увійдіть до <span class="new-post">Особистого кабінету</span>
            (посилання знаходиться у нижній частині сайту), ввівши логін і пароль.</p>
        </li>
        <li class="number-li">
          <p class="answer-text">Виберіть "<span class="edit">Редагувати профіль</span>".</p>
        </li>
        <li class="number-li">
          <p class="answer-text">Введіть нову адресу електронної пошти, натисніть "<span
              class="new-post">Зберегти</span>".</p>
        </li>
        <li class="number-li">
          <p class="answer-text">Натисніть "Змінити".</p>
        </li>
        <li class="number-li">
          <p class="answer-text">На вашу нову пошту надійде лист-підтвердження.</p>
        </li>
        <li class="number-li">
          <p class="answer-text">Підтвердіть нову електронну адресу. Після цього адресу пошти у вашому
            акаунті буде змінено.</p>
        </li>
      </ol>

      <h5 class="need-help">Все ще потрібна допомога?</h5>
      <button class="btn" [routerLink]="['/support-request']">Зв'яжіться з нами</button>
    </div>

  </div>

</div>
