<div class="container">

  <div class="row row-sm">
    <a [routerLink]="['/faq']" class="back-link">Допомога</a>
  </div>

  <div class="row">

    <div class="col col-lg-2 col-md-2 col-sm-0 col-xs-0 col-lg">
      <a [routerLink]="['/faq']" class="back-link">Допомога</a>
    </div>

    <div class="col col-lg-3 col-md-3 col-sm-0 add-col"></div>
    <div class="col col-lg-7 col-md-12 col-sm-12 col-xs-12">
      <h3 class="question-title">Як оплатити товар за безготівковим розрахунком?</h3>

      <p class="answer-text">Після оформлення заявки на електронну адресу буде надіслано рахунок з реквізитами для
        оплати.</p>
      <p class="answer-text">Відвантаження замовлення відбувається тільки після зарахування коштів на рахунок магазину.</p>
      <p class="answer-text">Ми зателефонуємо вам або надішлемо повідомлення про відправлення замовлення до відділення
        перевізника, плановану дату отримання за вашою адресою.</p>
      <p class="answer-text">Наша компанія є платником ПДВ.</p>
      <p class="answer-text">Під час отримання замовлення в пакеті документів надається: видаткова накладна,
        рахунок-фактура, акт виконаних робіт (у разі оплати за доставку).</p>

      <h5 class="answer-title">Що потрібно для отримання товару?</h5>
      <p class="answer-text">Для приватних осіб – паспорт.</p>
      <p class="answer-text">Для юридичних осіб та СПД: довіреність, виписана на пред'явника компанії, і паспорт.</p>
      <p class="answer-text">Без оформлення довіреності товар може отримати директор підприємства із завіренням
        видаткових накладних печаткою підприємства і з паспортом.</p>

      <h5 class="need-help">Все ще потрібна допомога?</h5>
      <button class="btn" [routerLink]="['/support-request']">Зв'яжіться з нами</button>
    </div>

  </div>

</div>
