<div class="container">

  <div class="row">

    <!--BACK LINK FOR LS-->
    <div class="col col-lg-2 col-md-2 col-sm-0 col-xs-0 back-link-ls">
      <a [routerLink]="['/']" class="back-link">Назад</a>
    </div>

    <div class="col col-lg-10 col-md-12 col-sm-12 col-xs-12">

      <!--BACK LINK FOR SS-->
      <div class="row row-ss"><a [routerLink]="['/']" class="back-link">Назад</a></div>

      <!--EMAIL FORM-->
      <div class="row">
        <form>
          <div class="form-group">
            <p class="text-forgot">Введіть Email, який Ви використали при реєстрації, і ми надішлемо
              Вам код для "скидання" паролю.</p>
            <input name="email" [(ngModel)]="model.email" type="email" class="form-control" id="emailOfUser" placeholder="Ваш Email:">
          </div>

          <button type="submit" (click)="recoverPass()" class="btn btn-primary btn-sent">Надіслати</button>
        </form>
      </div>

    </div>

  </div>

</div>
