/*CONTAINER*/

.container { margin-top: 1% !important; margin-bottom: 6% !important; }

/*BACK LINK*/

.back-link {
  color: tomato;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
}

.back-link:hover { text-decoration: none; }

.back-link::before { content: '< '; font-family: "Nanum Gothic", sans-serif; }

/*FORM 'N' TEXT*/

form { width: 100% !important; }

.form-group { width: 70%; }

.form-control {
  border-radius: 0% !important;
  background-color: #f0f0f1 !important;
  color: #191919 !important;
  width: 100% !important;
  border: 0px solid #f0f0f1 !important;
  height: 42px !important;
  font-size: 16px !important;
  letter-spacing: 2px !important;
}

.form-control:hover,
.form-control:active,
.form-control:focus
{ box-shadow: 0 0 30px rgba(255, 255, 255, 0.5) !important;
  border: 0px solid #f0f0f1 !important;
  transition: all .6s; }

.text-forgot { color: tomato; font-size: 14px; margin-top: 2%; }

.text-forgot::before {
  content: '* ';
  color: #f0f0f1 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/*BUTTON*/

.btn-sent {
  border-radius: 0% !important;
  background-color: tomato !important;
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 2px !important;
  color: #f0f0f1 !important;
  font-size: 16px !important;
  border: tomato 1px solid !important;
  margin-top: 1% !important;
}

.btn-sent:hover,
.btn-sent:active,
.btn-sent:focus
{ box-shadow: 0 0 30px rgba(255, 91, 77, 0.5) !important;
  transition: all .6s; }

/*MEDIA*/

/*LAPTOPS 'N' HIGH SCREENS */
@media screen and (min-width: 1240px) {
  .row-ss { display: none; }
}

/* TABLETS */
@media screen and (min-width: 1024px) and (max-width: 1240px) {
  .row-ss { display: block; }

  .back-link-ls { display: none; }

  .form-group { width: 90%; }

  .text-forgot { font-size: 16px; }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .row-ss { display: block; }

  .back-link-ls { display: none; }

  .form-group { width: 90%; }

  .text-forgot { font-size: 16px; }
}

/* PHONES */
@media screen and (max-width: 768px) {
  .row-ss { display: block; }

  .back-link-ls { display: none; }

  .form-group { width: 100%; }

  .text-forgot { font-size: 14px; }
}
