<div class="row">
  <h3 class="title-contacts">Контакти</h3>
</div>

<div class="container">

  <div class="col col-lg-5 col-md-5 col-sm-12 col-xs-12">

    <h4 class="subtitle-contacts">Номери телефонів</h4>
    <p class="data-contacts">+380 98 963 6224</p>
    <p class="data-contacts">+380 95 123 4567</p>

    <h4 class="subtitle-contacts">Email</h4>
    <p class="data-contacts">UndeadFamilyStore@gmail.com</p>

    <h4 class="subtitle-contacts">Графік роботи магазину</h4>
    <p class="data-contacts">Пн-Пт: з 10:00 по 20:00</p>
    <p class="data-contacts">Сб: з 10:00 по 18:00</p>
    <p class="data-contacts">Нд: Вихідний</p>

  </div>

</div>
