<div class="container">

  <div class="row">

    <div class="col col-lg-9 col-md-9 col-sm-12 col-xs-12">

      <h6 class="title-of-table first-title">ТАБЛИЦЯ РОЗМІРІВ ЧОЛОВІЧИХ ФУТБОЛОК / ХУДІ</h6>
      <table class="table table-bordered">

        <thead>
          <tr>
            <th>Міжнародний розмір</th>
            <th>Обхват грудей, см</th>
            <th>Довжина, см</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>S</td>
            <td>96</td>
            <td>64</td>
          </tr>
          <tr>
            <td>M</td>
            <td>104</td>
            <td>67</td>
          </tr>
          <tr>
            <td>L</td>
            <td>112</td>
            <td>70</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>120</td>
            <td>74</td>
          </tr>
          <tr>
            <td>XXL</td>
            <td>128</td>
            <td>77</td>
          </tr>
        </tbody>

      </table>
      <hr>

      <h6 class="title-of-table">ТАБЛИЦЯ РОЗМІРІВ ЖІНОЧИХ ФУТБОЛОК / ХУДІ</h6>
      <table class="table table-bordered">

        <thead>
          <tr>
            <th>Міжнародний розмір</th>
            <th>Напівобхват грудей, см</th>
            <th>Довжина, см</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>S</td>
            <td>70-79</td>
            <td>56</td>
          </tr>
          <tr>
            <td>M</td>
            <td>80-86</td>
            <td>60</td>
          </tr>
          <tr>
            <td>L</td>
            <td>87-93</td>
            <td>62</td>
          </tr>
        </tbody>

      </table>
      <hr>

      <h6 class="title-of-table">ТАБЛИЦЯ РОЗМІРІВ ЧОЛОВІЧИХ ШТАНІВ</h6>
      <table class="table table-bordered">

        <thead>
          <tr>
            <th>Розмір</th>
            <th>Напівобхват талії, см</th>
            <th>Довжина штанини, см</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>S</td>
            <td>42</td>
            <td>94</td>
          </tr>
          <tr>
            <td>M</td>
            <td>48</td>
            <td>95</td>
          </tr>
          <tr>
            <td>L</td>
            <td>53</td>
            <td>101</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>56</td>
            <td>102</td>
          </tr>
          <tr>
            <td>XXL</td>
            <td>60</td>
            <td>105</td>
          </tr>
        </tbody>

      </table>
      <hr>

      <h6 class="title-of-table">ТАБЛИЦЯ РОЗМІРІВ ДИТЯЧИХ ФУТБОЛОК / ХУДІ</h6>
      <table class="table table-bordered">

        <thead>
          <tr>
            <th>Розмір</th>
            <th>Вік</th>
            <th>Зріст</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>52</td>
            <td>1-2 роки</td>
            <td>92</td>
          </tr>
          <tr>
            <td>56</td>
            <td>3-4 роки</td>
            <td>98-104</td>
          </tr>
          <tr>
            <td>60</td>
            <td>5-6 років</td>
            <td>110-116</td>
          </tr>
          <tr>
            <td>64-68</td>
            <td>7-8 років</td>
            <td>122-134</td>
          </tr>
          <tr>
            <td>72</td>
            <td>9-10 років</td>
            <td>140-146</td>
          </tr>
          <tr>
            <td>76</td>
            <td>11-12 років</td>
            <td>152-158</td>
          </tr>
        </tbody>

      </table>
      <hr>

    </div>

  </div>

</div>
